/* ********************** start general css ********************** */

:root {
    --background-light: hsl(0, 0%, 100%);
    --background-light-item: hsl(0, 0%, 96%);
    --background-light-alp: hsl(0, 0%, 100%, 0.7);
    --background-light-grey: #eee;
    --color-default: #212529;
    --color-primary: hsl(0, 84%, 44%);
    --hover-color-primary: hsl(0, 84%, 49%);
    --color-secondary: #37373f;
    --links-color: #7f7f90;
    --color-tertiary: #7f7f90;
    --color-tertiary-2: #4f4f5a;
    --color-detail: #7d7d7d;
    --border-color: #f1f1f1;
    --input-border: hsl(0, 10%, 90%);
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

:root:has(#mode:checked) {
    --background-light: hsl(0, 0%, 9%);
    --background-light-item: hsl(0, 0%, 5%);
    --background-light-alp: hsl(0, 0%, 9%, 0.7);
    --background-light-grey: #252525;
    --color-default: #fff;
    --color-primary: hsl(35, 72%, 44%);
    --hover-color-primary: hsl(35, 72%, 49%);
    --color-secondary: #fff;
    --links-color: #bfbfc9;
    --color-tertiary: #9f9f9f;
    --color-tertiary-2: #9f9f9f;
    --color-detail: #adadad;
    --border-color: #333;
    --input-border: hsl(0, 10%, 0%);
}

:root:has(.mode:checked) body {
    background-color: #202020;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #fff;
    border-left: 2px solid #eee;
    box-shadow: 0px 0px 21px 0px #0003 inset;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
    box-shadow: 0px 0px 10px 0px #eeeeee8c inset;
    border-radius: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

span {
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-secondary);
}

.main-title {
    margin-bottom: 1.5625rem;
    text-align: center;
}

.main-title h2 {
    color: var(--color-tertiary);
    font-weight: 400;
    font-size: 0.875rem;
}

.main-title p {
    font-size: 3.125rem;
    font-family: var(--font-primary);
}

.main-title p span {
    color: var(--color-primary);
}


.container {
    width: 100%;
    max-width: 540px;
    margin: 0 auto;
}

.logo {
    font-size: 1.875rem;
    font-family: var(--font-default);
}

.btn-main {
    background-color: var(--color-primary);
    color: var(--background-light);
    border: 2px solid transparent;
    font-size: 0.9375rem;
    cursor: pointer;
    transition: background-color 400ms;
    -webkit-transition: background-color 400ms;
    -moz-transition: background-color 400ms;
    -ms-transition: background-color 400ms;
    -o-transition: background-color 400ms;
}

.btn-main:hover {
    background-color: var(--hover-color-primary);
}

.py-25-15 {
    padding: 1.5625rem 0.9375rem;
}

.py-90-15 {
    padding: 5.625rem 0.9375rem;
}

.py-40-15 {
    padding: 2.5rem 0.9375rem;
}

.mgt-85 {
    margin-top: 5.3125rem;
}

/* ********************** end general css ********************** */

/* ********************** start navbar ********************** */

nav {
    background-color: var(--background-light);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 0px 14px 0px #0000001b;
}

.navbar-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

nav i {
    color: var(--color-default);
    font-size: 1.5625rem;
    cursor: pointer;
}

.mode-icon {
    margin: 0 1.25rem 0 auto;
}

.logo a {
    color: var(--color-default);
}

.logo a::after {
    content: '.';
    color: var(--color-primary);
}

.light {
    display: none;
}

.mode-icon:has(#mode:checked) .light {
    display: inline-block;
}

.mode-icon:has(#mode:checked) .dark {
    display: none;
}

.menu-links {
    background-color: var(--background-light);
    border-left: 2px solid var(--border-color);
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 320px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 14px 0px #0000001b;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.menu-links:target {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

nav:has(.menu-links:target) {
    height: 100%;
    background-color: var(--background-light-alp);
}

.menu-links i {
    font-size: 1.4375rem;
}

.menu-links a {
    position: relative;
}

.menu-links a,
.menu-links a i {
    color: var(--links-color);
    font-weight: 600;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -ms-transition: color 400ms;
    -o-transition: color 400ms;
}

.menu-links a:hover,
.menu-links a i:hover {
    color: var(--color-default);
}

.menu-links .xmrk {
    padding: 0.625rem 0.9375rem 0.3125rem;
    align-self: flex-end;
}

.menu-links li a {
    padding: 0.9375rem 0.625rem;
    font-size: 1.0625rem;
    width: 100%;
}

/* ********************** end navbar ********************** */

/* ********************** start header ********************** */

header {
    background-color: var(--background-light-grey);
}

header img {
    filter: drop-shadow(4px 4px 9px #000a);
    animation: shake 1s infinite paused;
    -webkit-animation: shake 1s infinite paused;
}

header img:hover {
    animation-play-state: running;
    -webkit-animation-play-state: running;
}

.header-parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3.125rem;
    text-align: center;
}

.header-parent>div {
    width: 100%;
}

.header-parent .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-parent h2 {
    font-family: var(--font-primary);
    color: var(--color-default);
    font-size: 4.0625rem;
}

.header-parent p {
    margin-block: 1.25rem;
    line-height: 1.6;
    color: var(--color-tertiary-2);
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.25rem;
}

.btns a:first-child {
    padding: 0.625rem 1.5625rem;
    border-radius: 100vh;
}

.btns a:nth-child(2) {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: var(--color-default);
    gap: 0.625rem;
    transition: color 400ms;
    -webkit-transition: color 400ms;
    -moz-transition: color 400ms;
    -ms-transition: color 400ms;
    -o-transition: color 400ms;
}

.btns a:nth-child(2):hover {
    color: var(--hover-color-primary);
}

.btns .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-light);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: relative;
}

.play-icon::after {
    content: '';
    position: absolute;
    left: -7px;
    width: 25px;
    height: 50px;
    border: 7px solid var(--color-primary);
    border-right: none;
    border-radius: 25px 0 0 25px;
}

/* ********************** end header ********************** */

/* ********************** start chefs ********************** */

.chefs {
    text-align: center;
}

.chefs-parent {
    padding-block: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
}

.chefs-item {
    background-color: var(--background-light);
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.chefs-item .picture {
    position: relative;
}

.chefs-item .picture::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    background-image: url(./../img/img-shape.svg);
    background-repeat: repeat-x;
    width: 100%;
    height: 60px;
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.chefs-item:hover,
.chefs-item:hover .picture::after {
    transform: scale(1.07);
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -ms-transform: scale(1.07);
    -o-transform: scale(1.07);
}

:root:has(#mode:checked) .chefs-item .picture::after {
    background-image: url(./../img/img-shape-dark.svg);
}

.chefs-item .content {
    padding: 0.625rem 1.5625rem 1.5625rem;
}

.chefs-item .content span {
    font-size: 0.875rem;
    color: var(--color-tertiary);
    margin-block: 0.3125rem 0.625rem;
}

.chefs-item .content p {
    font-size: 0.9375rem;
    font-style: italic;
    color: var(--color-tertiary);
}

.chefs-item .social-media {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: #ffffff4d;
    width: fit-content;
    padding: 0.625rem;
    border-radius: 5px;
    transform: translateX(60px);
    -webkit-transform: translateX(60px);
    -moz-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -o-transform: translateX(60px);
    transition: transform 400ms 400ms;
    -webkit-transition: transform 400ms 400ms;
    -moz-transition: transform 400ms 400ms;
    -ms-transition: transform 400ms 400ms;
    -o-transition: transform 400ms 400ms;
}

.chefs-item:hover .social-media {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}

.chefs-item .social-media i {
    font-size: 1.125rem;
    padding: 0.625rem 0.3125rem;
    color: #37373f66;
    transition: color 200ms;
    -webkit-transition: color 200ms;
    -moz-transition: color 200ms;
    -ms-transition: color 200ms;
    -o-transition: color 200ms;
}

.chefs-item .social-media i:hover {
    color: #37373fe6;
}

/* ********************** end chefs ********************** */

/* ********************** start gallery ********************** */

.gallery {
    background-color: var(--background-light-grey);
}

.gallery-parent {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    gap: 1.25rem;
}

.gallery-parent>div {
    width: 100%;
}

.gallery-parent img {
    transition: transform 400ms;
    -webkit-transition: transform 400ms;
    -moz-transition: transform 400ms;
    -ms-transition: transform 400ms;
    -o-transition: transform 400ms;
}

.gallery-parent div:not(.layer) {
    position: relative;
    border: 4px solid #fff;
    overflow: hidden;
}

.gallery-parent .layer {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 0.9375rem;
    background-color: #00000096;
    z-index: 99;
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: top 400ms;
    -webkit-transition: top 400ms;
    -moz-transition: top 400ms;
    -ms-transition: top 400ms;
    -o-transition: top 400ms;
}

.gallery-parent div:not(.layer):hover .layer {
    top: 0;
}

.gallery-parent div:not(.layer):hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* ********************** end gallery ********************** */

/* ********************** start contact ********************** */

.contact-parent iframe {
    width: 100%;
    height: 350px;
}

.contact-parent .details {
    margin-block: 1.5625rem;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.contact-parent .details>div {
    display: flex;
    align-items: center;
    padding: 1.5625rem;
    background-color: var(--background-light-item);
    width: 100%;
}

.contact-parent .details>div h3 {
    color: var(--color-detail);
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 0.3125rem;
}

.contact-parent .details .icon {
    min-width: 50px;
    min-height: 50px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
}

.contact-parent .details .icon i {
    color: var(--background-light);
    font-size: 1.125rem;
}

.contact-parent form,
.contact-parent form div {
    background-color: var(--background-light);
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 30px #00000014;
    gap: 0.9375rem;
}

.contact-parent form div {
    width: 100%;
    padding: 0;
}

.contact form :is(input, textarea) {
    padding: 0.9375rem;
    font-family: inherit;
    line-height: 1.5;
    border: 2px solid var(--input-border);
    color: #212529;
    width: 100%;
    transition: border-color 400ms;
    -webkit-transition: border-color 400ms;
    -moz-transition: border-color 400ms;
    -ms-transition: border-color 400ms;
    -o-transition: border-color 400ms;
}

.contact form textarea {
    resize: none;
}

.contact form :is(input, textarea):focus {
    outline: none;
    border-color: var(--color-primary);
}

.contact form button {
    padding: 0.75rem 2.5rem;
    margin-top: 1.5625rem;
    border-radius: 100vh;
}

/* ********************** end contact ********************** */

/* ********************** start footer ********************** */

footer {
    background-image: linear-gradient(#0009, #0009), url(../img/textured-metal-background.jpg);
    color: #fff;
    box-shadow: 0px -1px 5px #0007;
    background-size: contain;
}

footer .footer-parent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

footer .footer-parent>div {
    width: 100%;
}

footer .about div:first-child {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

footer .about img {
    width: 40px;
    height: 40px;
}

footer .logo::after {
    content: '.';
    color: var(--color-primary);
}

footer .about p {
    margin-block: 0.625rem;
}

footer .about h3 {
    text-align: center;
    padding: 0.625rem;
    border-bottom: 2px solid #ddd6;
    margin-bottom: 0.625rem;
}

footer .about .social-links {
    padding: 0.625rem;
    display: flex;
    justify-content: space-around;
}

footer .about .social-links i {
    font-size: 1.5rem;
}

footer .subscription-contect p {
    margin-block: 0.625rem;
}

footer .subscription-form {
    margin-block: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.625rem;
}

footer .subscription-form input {
    flex-grow: 1;
    padding: 0.625rem;
}

footer .subscription-form button {
    padding: 0.625rem;
}

footer .quick-links ul {
    margin-top: 0.625rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.25rem;
}

footer .quick-links ul li {
    width: calc(50% - 0.625rem);
    padding: 0.3125rem;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}

footer .quick-links ul li:hover {
    transform: translateX(10px);
    background-color: #222;
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

footer .contact-details h3 {
    margin-bottom: 0.625rem;
}

footer .quick-links ul li,
footer .contact-details ul li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

footer .contact-details ul li i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.375rem;
    cursor: pointer;
}

/* ********************** end footer ********************** */